# Gradle local cache
.gradle/

# Gradle build
build/

# IntelliJ
out/

## File-based project format (Intellij)
*.iws

# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360
.idea/
*.ipr

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023
*.iml

# macos specific file
.DS_Store
